<div class="container">
    <form>
        <div class="card-body">
            <h3>Crear Alerta</h3>
            <div class="form-group">
                <label for="InputDescription">Descripción</label>
                <input type="text" class="form-control" id="inputDescription" placeholder="" value="Descripción genérica">
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <input id="date" type="date" class="form-control" name="date" value="" required autocomplete="date">
            </div>
            <div class="form-group">
                <label for="InputPlace">Lugar del Evento</label>
                <input type="text" class="form-control" id="inputPlace" placeholder="" value="Pasto - Nariño">
            </div>
            <div class="form-group">
                <label for="InputAditionalInformation">Información adicional</label>
                <input type="text" class="form-control" id="inputAditionalInformation" placeholder="" value="Información adicional">
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" name="affectedPeople" id="affectedPeople">
                    <label class="ml-1" for="affectedPeople">Afectó a personas</label>
                </div>
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" name="affectedFamily" id="affectedFamily">
                    <label class="ml-1" for="affectedFamily">Afectó a la familia</label>
                </div>
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" name="affectedAnimals" id="affectedAnimals">
                    <label class="ml-1" for="affectedAnimals">Afectó a los animales</label>
                </div>
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" name="affectedInfraestructure" id="affectedInfraestructure">
                    <label class="ml-1" for="affectedInfraestructure">Afectó a la infraestructura</label>
                </div>
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" name="affectedLiveliHoods" id="affectedLiveliHoods">
                    <label class="ml-1" for="affectedLiveliHoods">Afectó a los medios de subsistencia</label>
                </div>
            </div>

            <div class="form-group">
                <label>Tipo de Alerta</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Alerta Tipo 1</option>
                  <option>Alerta Tipo 2</option>
                  <option>Alerta Tipo 3</option>
                  <option>Alerta Tipo 4</option>
                  <option>Alerta Tipo 5</option>
                  <option>Alerta Tipo 6</option>
                  <option>Alerta Tipo 7</option>
                </select>
            </div>

            <div class="form-group">
                <label>Municipio</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Pasto</option>
                  <option>Ipiales</option>
                  <option>La Unión</option>
                </select>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Activa</option>
                  <option>Inactiva</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputPhotoFile">Evidencia fotográfia</label>
                <div class=" input-group ">
                    <div class="custom-file ">
                        <input type="file " class="custom-file-input " id="inputPhotoFile ">
                        <label class="custom-file-label " for="inputPhotoFile ">Escoger archivo</label>
                    </div>
                    <div class="input-group-append ">
                        <span class="input-group-text ">Upload</span>
                    </div>
                </div>
            </div>

            <button type="submit " class="btn btn-primary ">Crear</button>
        </div>
        <!-- /.card-body -->
    </form>
</div>