<app-header></app-header>
<app-sidebar [item]="user"></app-sidebar>
<div class="content-wrapper">
    <div class="card m-4">
        <div class="container p-4">
            <h1>{{actionBtn}} Ruta Institucional</h1>
            <form [formGroup]="institutionalRouteForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre *</mat-label>
                    <input formControlName="route_name" matInput placeholder="Nombre *">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>URL *</mat-label>
                    <input formControlName="route_url" matInput placeholder="URL *">
                </mat-form-field>
            </form>
            <button mat-button color="primary" (click)="actionBtn=='Guardar'?addInstitutionalRoute():updateInstitutionalRoute()">{{actionBtn}}</button>
            <button mat-button color="primary" [routerLink]="['/home/admin-institutional-routes']">Regresar</button>
        </div>
    </div>

</div>
<app-footer></app-footer>
<style>
    mat-form-field {
        width: 100%;
    }
</style>