<button mat-button (click)="add()">Add row</button>
<table mat-table [dataSource]="myformArray.controls" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container *ngFor="let head of displayedHeads;let j=index" [matColumnDef]="head">
        <th mat-header-cell *matHeaderCellDef> {{head}} </th>
        <td mat-cell *matCellDef="let element">
            <input arrow-div [formControl]="element.at(j)">
            <small style="color:red;font-size:.7rem" *ngIf="element.at(j).errors && element.at(j).touched">required</small>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element;let i=index;">
            <button arrow-div mat-button (click)="delete(i)">delete</button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pre>
{{myformArray?.value|json}}
</pre>