<div class="container">
    <div class="row">
        <div class=" col-md-4 col-12">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user mt-5">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info ">
                    <h3 class="widget-user-username ">{{item.name + " " + item.lastname}}</h3>
                    <h5 class="widget-user-desc ">Admin</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2 " src="./assets/dist/img/myAvatar.png" alt="User Avatar">
                </div>
                <div class="card-footer ">
                    <div class="row ">
                        <div class="col-sm-12 border-right ">
                            <div class="description-block ">
                                <span class="description-text "><button class="btn btn-primary">Cambiar Rol</button></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <mat-tab-group animationDuration="0ms" class="mt-5">
                <mat-tab label="Información">
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="InputIdentification">Tipo de Identificación</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio1" disabled>
                                    <label class="form-check-label">NIT</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio1" checked disabled>
                                    <label class="form-check-label">CC</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputIdentificationNumber">Número de Identificación</label>
                                <input type="text" class="form-control" id="inputIdentificationNumber" placeholder="" value="{{item.id}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="InputNames">Nombres</label>
                                <input type="text" class="form-control" id="inputNames" placeholder="Nombres" value="{{item.name + item.lastname}}">
                            </div>
                            <div class="form-group">
                                <label for="InputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{item.email}}">
                            </div>
                            <div class="form-group">
                                <label for="InputAddress">Dirección</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Dirección" value="{{item.address}}">
                            </div>
                            <div class="form-group">
                                <label for="InputState">Municipio</label>
                                <input type="text" class="form-control" id="inputState" placeholder="Municipio" value="Pasto">
                            </div>
                            <div class="form-group">
                                <label for="InputPhone">Teléfono</label>
                                <input type="text" class="form-control" id="inputPhone" placeholder="Teléfono" value="{{item.phone_number}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </mat-tab>
                <mat-tab label="Contraseña">
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="InputPasswordAdmin">Contraseña Administrador</label>
                                <input type="password" class="form-control" id="inputPasswordAdmin" placeholder="Contraseña de Administrador">
                            </div>
                            <div class="form-group">
                                <label for="InputNewPassword">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="inputNewPassword" placeholder="Nueva Contraseña">
                            </div>
                            <div class="form-group">
                                <label for="InputRepeatPassword">Repetir Contraseña</label>
                                <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repetir Contraseña">
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </mat-tab>
                <mat-tab label="Notas">
                    <div class="card-body">
                        Notas
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>