<div class="container">
    <div class="row">
        <div class=" col-md-4 col-12">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user mt-5">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info ">
                    <h3 class="widget-user-username ">{{item.name + " " + item.lastname}}</h3>
                    <h5 class="widget-user-desc ">Admin</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2 " src="./assets/dist/img/myAvatar.png" alt="User Avatar">
                </div>
                <div class="card-footer ">
                    <div class="row ">
                        <div class="col-sm-12 border-right ">
                            <div class="description-block ">
                                <span class="description-text "><button class="btn btn-primary">Cambiar Rol</button></span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <mat-tab-group animationDuration="0ms" class="mt-5">
                <mat-tab label="Información">
                    <div class="container p-4">
                        <form [formGroup]="userForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre *</mat-label>
                                <input formControlName="name" matInput placeholder="Nombre *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido *</mat-label>
                                <input formControlName="lastname" matInput placeholder="Apellido *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre de Usuario *</mat-label>
                                <input formControlName="username" matInput placeholder="Nombre de Usuario *">
                                <mat-hint>Solo números y letras</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Correo *</mat-label>
                                <input formControlName="email" matInput placeholder="Correo *">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Departamento</mat-label>
                                <mat-select (selectionChange)="onDepartmentSelected($event)" [(value)]="selectedDepartment">
                                    <mat-option *ngFor="let department of departments" [value]="department.id">{{department.reference_name}}</mat-option>
                                </mat-select>
                                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                            </mat-form-field>
                            <mat-form-field *ngIf="isOnDepartment" appearance="fill">
                                <mat-label>Municipio</mat-label>
                                <mat-select formControlName="town_id" [(value)]="selectedTown">
                                    <mat-option *ngFor="let town of townsDisplay" [value]="town.id">{{town.town_name}}</mat-option>
                                </mat-select>
                                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Rol</mat-label>
                                <mat-select formControlName="role_id" [(value)]="selectedRole">
                                    <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                                </mat-select>
                                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                            </mat-form-field>
                        </form>
                        <div [align]="'end'" class="pt-3">
                            <button mat-button color="primary" (click)="updateUser()">Actualizar</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Contraseña">
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="InputPasswordAdmin">Contraseña Administrador</label>
                                <input type="password" class="form-control" id="inputPasswordAdmin" placeholder="Contraseña de Administrador">
                            </div>
                            <div class="form-group">
                                <label for="InputNewPassword">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="inputNewPassword" placeholder="Nueva Contraseña">
                            </div>
                            <div class="form-group">
                                <label for="InputRepeatPassword">Repetir Contraseña</label>
                                <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repetir Contraseña">
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </mat-tab>
                <mat-tab label="Notas">
                    <div class="card-body">
                        Notas
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<style>
    mat-form-field {
        width: 100%;
    }
</style>