<app-header></app-header>
<app-sidebar [item]="user"></app-sidebar>
<div class="content-wrapper">
    <div class="card m-4">
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title font-weight-bold">Nuevo rol</div>
                            <div class="card-body mt-4">
                                <form [formGroup]="roleForm">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre *</mat-label>
                                        <input formControlName="name" matInput placeholder="Nombre *">
                                    </mat-form-field>
                                </form>
                                <div *ngxPermissionsOnly="createEditRolePermission; else elseBlockCreateEdit; then thenBlockCreateEdit">
                                </div>
                                <ng-template #elseBlockCreateEdit>
                                    <button disabled mat-button color="primary" (click)="actionBtn=='Guardar'?addRole():updateRole()">{{actionBtn}}</button>
                                </ng-template>
                                <ng-template #thenBlockCreateEdit>
                                    <button mat-button color="primary" (click)="actionBtn=='Guardar'?addRole():updateRole()">{{actionBtn}}</button>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title font-weight-bold">Roles activos</div>
                            <div class="card-body mt-4">
                                <div class="row" *ngFor="let rol of roles">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="d-flex col-md-8 align-items-center">
                                                {{rol.name}}
                                            </div>
                                            <div class="col-md-4">
                                                <div *ngxPermissionsOnly="editRolePermission; else elseBlockEdit; then thenBlockEdit">
                                                </div>
                                                <ng-template #elseBlockEdit>
                                                    <button disabled mat-button color="primary" (click)="editRole(rol)"><mat-icon>edit</mat-icon></button>
                                                </ng-template>
                                                <ng-template #thenBlockEdit>
                                                    <button mat-button color="primary" (click)="editRole(rol)"><mat-icon>edit</mat-icon></button>
                                                </ng-template>

                                                <div *ngxPermissionsOnly="deleteRolePermission; else elseBlockDelete; then thenBlockDelete">
                                                </div>
                                                <ng-template #elseBlockDelete>
                                                    <button disabled mat-button color="primary" (click)="deleteRole(rol.id)"><mat-icon>delete</mat-icon></button>
                                                </ng-template>
                                                <ng-template #thenBlockDelete>
                                                    <button mat-button color="primary" (click)="deleteRole(rol.id)"><mat-icon>delete</mat-icon></button>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
<style>
    mat-form-field {
        width: 100%;
    }
</style>