<app-header></app-header>
<app-sidebar [item]="user"></app-sidebar>

<div class="content-wrapper">
    <div class="container p-4">
        <div class="row mb-3">
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Filtrar</mat-label>
                <mat-select disableOptionCentering (selectionChange)="onStatusSelected($event)" [(value)]="selectedStatus">
                    <mat-option value="Todos">Todos</mat-option>
                    <mat-option *ngFor="let element of status" [value]="element.reference_name">{{element.reference_name}}</mat-option>
                </mat-select>
                <mat-hint align="end">Seleccione un tipo de estado</mat-hint>
            </mat-form-field>
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Ingrese un rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input [(ngModel)]="init_date" [ngModelOptions]="{standalone: true}" (dateChange)="dateChanged($event)" matStartDate placeholder="Fecha inicio">
                    <input [(ngModel)]="end_date" [ngModelOptions]="{standalone: true}" (dateChange)="dateChanged($event)" matEndDate placeholder="Fecha fin">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-button appearance="outline" (click)="resetFilters()">Limpiar Filtros</button>
        </div>
        <mat-card *ngFor="let alert of alerts;let j=index" class="example-card mb-3">
            <mat-card-title class="pb-2">Estado: {{alert.status.reference_name}}</mat-card-title>
            <mat-card-subtitle>Fecha de Creación: {{alert.event_date}}</mat-card-subtitle>
            <mat-card-subtitle>
                <p class="font-weight-bold">{{alert.user.name + " " + alert.user.lastname}} <a class="font-weight-ligth"><small>Ver perfil</small></a></p>
            </mat-card-subtitle>
            <mat-card-content class="mb-2">
                <p>{{alert.event_description}}</p>
                <p>Se envío desde: {{alert.event_place}}</p>
                <p>{{alert.event_aditional_information}}</p>
            </mat-card-content>
            <mat-divider inset class="pb-3"></mat-divider>
            <mat-card-actions class="d-flex justify-content-end">
                <button (click)="editEvent(alert)" mat-button><label class="mb-0" for="edit"><a>Editar</a></label></button>
                <button (click)="onSeeDetails(alert)" mat-button><label class="mb-0" for="seeDetails"><a>Ver</a></label></button>
                <button (click)="changeStatusDialog(alert)" mat-button><label class="mb-0" for="changeStatus"><a>Cambiar estado</a></label></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode=""></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cambiar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <select name="state_id" class="form-control select2" style="width: 100%;">
                    <option value="">Seleccione un tipo de estado</option>
                    <option seletected >Alertado</option>
                    <option>Inactivo</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Declinar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>