<app-header></app-header>
<app-sidebar [item]="user"></app-sidebar>

<div class="content-wrapper">
    <div class="container p-4">
        <div class="row mb-3">
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Filtrar</mat-label>
                <mat-select disableOptionCentering (selectionChange)="onStatusSelected($event)" [(value)]="selectedStatus">
                    <mat-option value="Todos">Todos</mat-option>
                    <mat-option *ngFor="let element of status" [value]="element.id">{{element.reference_name}}</mat-option>
                </mat-select>
                <mat-hint align="end">Seleccione un tipo de estado</mat-hint>
            </mat-form-field>
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Ingrese un rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input [(ngModel)]="init_date" [ngModelOptions]="{standalone: true}" (dateChange)="dateChanged($event)" matStartDate placeholder="Fecha inicio">
                    <input [(ngModel)]="end_date" [ngModelOptions]="{standalone: true}" (dateChange)="dateChanged($event)" matEndDate placeholder="Fecha fin">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-button appearance="outline" (click)="resetFilters()">Limpiar Filtros</button>
        </div>
        <mat-card *ngFor="let alert of alertsData | paginate : { itemsPerPage: itemsPerPage, currentPage: pageData, totalItems: totalItems }" class="example-card mb-3">
            <mat-card-title class="pb-2">Estado: {{alert.status.reference_name}}</mat-card-title>
            <mat-card-subtitle>Fecha del Evento: {{alert.event_date}}</mat-card-subtitle>
            <mat-card-subtitle>
                <p class="font-weight-bold">{{alert.user.name + " " + alert.user.lastname}} <a class="font-weight-ligth" (click)="showProfile(alert.user.id)"><small>Ver perfil</small></a></p>
            </mat-card-subtitle>
            <mat-card-content class="mb-2">
                <p>{{alert.event_description}}</p>
                <p>Se envío desde: {{alert.event_place}}</p>
                <p>{{alert.event_aditional_information}}</p>
            </mat-card-content>
            <mat-divider inset class="pb-3"></mat-divider>
            <mat-card-actions class="d-flex justify-content-end">
                <button *ngxPermissionsOnly="deleteEventPermission" (click)="deleteEvent(alert.id)" mat-button><label class="mb-0" for="edit"><a>Eliminar</a></label></button>
                <button *ngxPermissionsOnly="editEventPermission" (click)="editEvent(alert)" mat-button><label class="mb-0" for="edit"><a>Editar</a></label></button>
                <button *ngxPermissionsOnly="readEventPermission" (click)="onSeeDetails(alert)" mat-button><label class="mb-0" for="seeDetails"><a>Ver</a></label></button>
                <button *ngxPermissionsOnly="changeStateEvent" (click)="changeStatusDialog(alert)" mat-button><label class="mb-0" for="changeStatus"><a>Cambiar estado</a></label></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode=""></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <pagination-controls class="pagi" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="gty(($event))"></pagination-controls>
    </div>
</div>
<app-footer></app-footer>

<div *ngIf='loadingAmatai'>
    <div id="loadingSpinnerBackground">
    </div>
</div>

<style>
    .pagi {
        text-align: center;
        font-size: medium;
    }
    
    #loadingSpinnerBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: not-allowed;
        opacity: 0.5;
        background: #fff url('./assets/logos/loaderAmatai.gif') center no-repeat;
        z-index: 99;
    }
</style>