<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 mt-1 mb-1 d-none d-md-flex align-items-center text-center justify-content-center flex-wrap">
            <a href="/"><img class="card-img-top img-responsive" src="./assets/logos/conectividad_ICONOS.png" alt="Logo Alianza"></a>
        </div>
        <div class="col-12 col-md-10 d-flex align-items-center text-center">
            <h2 class="pt-3 pb-3 mb-0">Sistema de Atención para detección temprana de Alertas en los departamentos de Nariño y Antioquia</h2>
        </div>
    </div>

    <div class="row pt-5 pb-5" style="background-color: #990099;">
        <div class="container d-flex flex-wrap justify-content-center align-items-center">
            <div class="register-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a href="/" class="h1"><img class="card-img-top" style="width: 30%;" src="./assets/logos/conectividad_ICONOS.png" alt="Logo Alianza"></a>
                    </div>
                    <div class="card-body">
                        <p class="register-box-msg font-weight-bold mb-0">Registrarse en Alercom</p>

                        <form [formGroup]="registerForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre *</mat-label>
                                <mat-icon matSuffix>person</mat-icon>
                                <input formControlName="name" matInput placeholder="Nombre *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido *</mat-label>
                                <mat-icon matSuffix>person</mat-icon>
                                <input formControlName="lastname" matInput placeholder="Apellido *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre de Usuario *</mat-label>
                                <mat-icon matSuffix>alternate_email</mat-icon>
                                <input formControlName="username" matInput placeholder="Nombre de usuario *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email *</mat-label>
                                <mat-icon matSuffix>email</mat-icon>
                                <input formControlName="email" matInput placeholder="Email *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña *</mat-label>
                                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Contraseña *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirmar contraseña *</mat-label>
                                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <input formControlName="password_confirmation" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirmar contraseña *">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Télefono *</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input formControlName="phone_number" matInput placeholder="Télefono *">
                            </mat-form-field>
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="icheck-primary">
                                        <input [(ngModel)]="acceptTermsConditions" [ngModelOptions]="{standalone: true}" type="checkbox" name="agreeTerms" id="agreeTerms" name="terms" value="true">
                                        <label class="ml-1" for="agreeTerms">Acepto <a href="" routerLink="/terms/conditions" routerLinkActive="active" target="_blank">terminos y condiciones</a></label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block" (click)="register()">Registrarse</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <div class="row d-flex justify-content-center">
                            <a routerLink="/login" class="pt-2 pb-2">Ya tengo una cuenta</a>
                        </div>
                    </div>
                    <!-- /.form-box -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

<footer class="footer py-2 bg-light d-flex flex-wrap align-items-center justify-content-center">
    <div class="container ">
        <div class="row ">
            <div class="col-12 col-lg-12">
                <div class="row d-flex align-items-center ">
                    <div class="col-2"></div>
                    <div class="col-4 d-flex justify-content-end ">
                        <img class="img-thumbnail" style="width: 50%;" src="./assets/logos/alianza.png " alt="Logo Alianza ">

                    </div>
                    <div class="col-4 flex justify-content-center">
                        <img class="img-thumbnail" style="width: 20%;" src="./assets/logos/PNUD_azul.png " alt="Logo Alianza ">
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .content {
        height: 100vh;
    }
    
    mat-form-field {
        width: 100%;
    }
    
    .register-box {
        width: 400px;
    }
    
    .img-responsive {
        width: 70%;
        height: auto;
    }
    
    @media (min-width: 1121px) {
        .img-responsive {
            width: 40%;
            height: auto;
        }
    }
</style>