<app-header></app-header>
<app-sidebar (alertShowingUp)='onalertShowingUp($event)' (userShowingUp)='onuserShowingUp($event)' (rolespermissionsShowingUp)='onrolespermissionsShowingUp($event)' (rolespermissionsShowingUp)='onrolespermissionsShowingUp($event)' (usersadminShowingUp)='onusersadminShowingUp($event)'
    (institutionsShowingUp)='oninstitutionsShowingUp($event)' (myalertsShowingUp)='onmyalertsShowingUp($event)' [item]="user"></app-sidebar>
<div class="content-wrapper">
    <app-alert *ngIf="isOnAlert"></app-alert>
    <app-user *ngIf="isOnUser" [item]="user"></app-user>
    <app-roles-permissions *ngIf="isOnRolesPermissions" [roles]="roles" [permissions]="permissions"></app-roles-permissions>
    <app-user-admin *ngIf="isOnUsersAdmin" [users]="users"></app-user-admin>
    <app-myalerts *ngIf="isOnMyAlerts"></app-myalerts>
    <app-institutions *ngIf="isOnInstitutions"></app-institutions>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>