<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link" style="background-color: #fff;">
        <img src="./assets/logos/conectividad_ICONOS.png" alt="Logo ALERCOM" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><strong style="color:#FF8000;">ALERCOM</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="./assets/dist/img/myAvatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a (click)="userShowingEvent()" class="d-block">{{item.name+ " " +item.lastname}}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item menu-is-opening menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-user"></i>
                        <p>
                            Usuarios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a (click)="rolespermissionsShowingEvent()" class="nav-link" [ngClass]="status_roles_permissions ? 'active' : ''">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Roles y Permisos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="usersadminShowingEvent()" class="nav-link" [ngClass]="status_users_admin ? 'active' : ''">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Administrar Usuarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="institutionsShowingEvent()" class="nav-link" [ngClass]="status_institutions ? 'active' : ''">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Crear Instituciones</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-is-opening menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-bell"></i>
                        <p>
                            Alertas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a (click)="myalertsShowingEvent()" class="nav-link" [ngClass]="status_my_alerts ? 'active' : ''">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mis Alertas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="alertShowingEvent()" class="nav-link" [ngClass]="status_alert ? 'active' : ''">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Crear Alerta</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fa fa-file-alt"></i>
                        <p>
                            Reportes
                            <span class="right badge badge-danger">Nuevo</span>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>