<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3 col-md-2 d-flex align-items-center text-center justify-content-center">
            <a href="/"><img class="card-img-top" style="width: 50%;" src="./assets/logos/conectividad_ICONOS.png" alt="Logo Alianza"></a>
        </div>
        <div class="col-12 col-sm-9 col-md-10 d-flex align-items-center text-center">
            <h4 class="pt-3 pb-3 mb-0">"Garantía para lideresas y defensoras en el ejercicio de promoción y defensa de los Derechos Humanos en el departamento de Nariño</h4>
        </div>
    </div>

    <div class="row pt-5 pb-5" style="background-color: #990099;">
        <div class="container d-flex flex-wrap justify-content-center align-items-center">
            <div class="login-box m-4">
                <!-- /.login-logo -->
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a href="/" class="h1"><img class="card-img-top" style="width: 40%;" src="./assets/logos/conectividad_ICONOS.png" alt="Logo Alianza"></a>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="login(f)" #f="ngForm">
                            <div class="input-group mb-3">
                                <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
                                <input type="text" name="username" [(ngModel)]="user.username" class="form-control" placeholder="Nombre de usuario" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                                <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" name="rememberme" id="remember">
                                        <label class="ml-1" for="remember">Recordar mi acceso</label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4 pl-0">
                                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <p class="mb-1">
                            <a routerLink='/forgot'>Olvidaste tu contraseña?</a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="login-box m-4">
                <!-- /.login-logo -->
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        Registro
                    </div>
                    <div class="card-body">
                        <p>
                            Sigue estos pasos: <br><br>1. Llene el formulario de registro con sus datos.<br> 2. El usuario y contraseña no deben tener espacios y siempre se requeriran para ingresar a la oficina virtual. <br> 3. Los datos serán verificados
                            para poder acceder a este servicio.<br><br>
                        </p>
                        <div class="col-12 pl-0 d-flex justify-content-end">
                            <a routerLink='/register'><button type="button" class="btn btn-primary btn-block">Registrarse</button></a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

<footer class="footer py-2 bg-light d-flex flex-wrap align-items-center justify-content-center">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-12 col-lg-4 text-center text-lg-left">
                <p class="mb-0">Luneas a Viernes - 8:00AM a 6:00PM</p>
            </div>
            <div class=" col-12 col-lg-4 text-center text-lg-center ">
                <p class="mb-0">recepciondecasos@corporacionochodemarzo.org</p>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-right ">
                <p class="mb-0">Celular: 3145799374</p>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row d-flex align-items-center">
                    <div class=" col-4 d-flex justify-content-center">
                        <img class="card-img-top " src="./assets/logos/alianza.png " alt="Logo Alianza ">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="card-img-top " src="./assets/logos/conectividad_ICONOS.png " alt="Logo Alianza ">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="card-img-top " style="width: 45%; " src="./assets/logos/PNUD_azul.png " alt="Logo Alianza ">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img class="card-img-top " src="./assets/logos/alianza.png " alt="Logo Alianza ">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="card-img-top " src="./assets/logos/alianza.png " alt="Logo Alianza ">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="card-img-top " src="./assets/logos/alianza.png " alt="Logo Alianza ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .content {
        height: 100vh;
    }
</style>